@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.responsive-width {
		@apply w-[85%] lg:w-[60em] xl:w-[75em] 2xl:w-[85em];
	}

	.sub-heading {
		@apply text-umlblue-900 text-3xl font-bold my-6;
	}

	.card-container {
		@apply p-4 lg:p-6 rounded-lg flex flex-col outline outline-1 hover:shadow-lg transition-shadow outline-gray-300 cursor-pointer;
	}

	.card {
		@apply flex items-center;
	}

	.card-image {
		@apply rounded-full w-24 h-24 bg-cover bg-center;
	}

	.card-content {
		@apply flex flex-col items-start gap-2 ml-4 lg:ml-6;
	}

	.card-name {
		@apply font-semibold text-gray-700 hover:underline flex items-center gap-2;
	}

	.card-description {
		@apply font-semibold text-umlblue-500;
	}

	.card-abstract {
		@apply transition-[height] ease-in-out duration-300 overflow-hidden;
	}

	.plan {
		@apply border border-gray-200 p-6 rounded-lg child:text-gray-600 flex flex-col flex-1;
	}

	.plan-title {
		@apply text-lg text-black font-medium mb-2;
	}

	.plan-description {
		@apply mb-6;
	}

	.plan-button {
		@apply bg-umlblue-500 text-white w-full rounded-lg text-center py-2 hover:brightness-125 transition-all;
	}

	.plan-button-disabled {
		@apply bg-gray-400 text-white w-full rounded-lg text-center py-2 pointer-events-none cursor-not-allowed;
	}

	.plan-price {
		@apply text-3xl font-bold text-black mb-6;
	}

	.plan-list-heading {
		@apply font-medium text-black mb-2;
	}

	.nav-link {
		@apply hover:bg-umlbluedarktransparent transition duration-300 rounded-md;
	}

	tr {
		@apply hover:bg-neutral-200 even:bg-neutral-50;
	}

	th {
		@apply text-left;
	}

	th p,
	td p {
		@apply ml-4 mr-16 my-2;
	}

	td {
		@apply first:text-black first:font-bold text-gray-700 align-top;
	}

	.link {
		@apply text-umlblue-500 hover:underline;
	}

	.location-img {
		@apply rounded-md h-[20rem] lg:h-[34rem] w-full object-cover object-center mb-4;
	}

	.location-name {
		@apply mb-4;
	}

	.location-description {
		@apply mb-4;
	}

	.location-location {
		@apply mb-4;
	}

	.btn {
		@apply px-8 py-4 text-gray-700 bg-white hover:text-umlblue-500 hover:bg-gray-300 font-semibold rounded-md;
	}

	.fadeInUp {
		@apply opacity-0 transition-all duration-300 transform-gpu translate-y-8;
	}

	.fadeInUp.inView {
		@apply opacity-100 translate-y-0;
	}
}

* {
	font-family: 'Inter', sans-serif;
	scroll-behavior: smooth;
	scroll-padding-top: 8rem;
}
